@using GestorPacientes.Core.Application.ViewModels.Appointment
@using GestorPacientes.Core.Application.ViewModels.LaboratoryResult
@using GestorPacientes.Core.Application.Enums
@model List<AppointmentViewModel>

@{
    ViewData["Title"] = "Listado de Citas";
}

<div class="container">
    <h1 class="">Citas medicas</h1>
    <a asp-controller="Appointment" asp-action="Create" class="btn btn-primary-custom m-3">
        <i class="bi bi-plus-circle-fill"></i>
        Registrar Cita
    </a>
    <div class="border rounded-3 card-box-shadow bg-white p-4 mt-4">
        <table class="table table-hover">
            <thead class="fw-bold fs-4">
                <tr>
                    <th class="">Paciente</th>
                    <th class="">Medico</th>
                    <th class="">Dia</th>
                    <th class="">Hora</th>
                    <th class="">Causa</th>
                    <th class="">Estado</th>
                    <th class="text-end">Opciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (AppointmentViewModel appointment in Model)
                {
                    <tr class="align-middle">
                        <td class="py-3 fs-6">
                            @appointment.PatientName
                        </td>
                        <td class="py-3">
                            @appointment.DoctorName
                        </td>
                        <td class="py-3">
                            @appointment.Day.ToShortDateString()
                        </td>
                        <td class="py-3">
                            @appointment.Time
                        </td>
                        <td class="py-3">
                            @appointment.Reason
                        </td>
                        <td class="py-3">
                            @switch (appointment.status)
                            {
                                case Status.PendingConsultation:
                                    <span class="badge bg-danger bsb-w-85">Pendiente</span>
                                    break;
                                case Status.PendingResults:
                                    <span class="badge bg-warning bsb-w-85">Pendiente de resultados</span>
                                    break;
                                case Status.Completed:
                                    <span class="badge bg-success bsb-w-85">Completado</span>
                                    break;
                                default:
                                    break;
                            }
                        </td>
                        <td class="text-end align-items-center py-3">
                            @if (appointment.status == Status.PendingConsultation)
                            {
                                <a class="btn btn-secondary btn-sm" asp-controller="Appointment" asp-action="Consult" asp-route-appointmentId=@appointment.Id>
                                    <i class="bi bi-person-lines-fill"></i>
                                    Consultar
                                </a>
                            }
                            else if (appointment.status == Status.PendingResults)
                            {
                                <a class="btn btn-secondary btn-sm" asp-controller="Appointment" asp-action="CheckResults" asp-route-appointmentId=@appointment.Id>
                                    <i class="bi bi-clipboard2-pulse-fill"></i>
                                    Consultar resultados
                                </a>
                            }
                            else if (appointment.status == Status.Completed)
                            {
                                <a class="btn btn-secondary btn-sm" asp-controller="Appointment" asp-action="CheckResults" asp-route-id=@appointment.Id
                                 asp-route-status=@appointment.status>
                                    <i class="bi bi-file-earmark-medical-fill"></i>
                                    Ver Resultados
                                </a>
                            }
                            <a class="btn btn-outline-danger btn-sm" asp-controller="Appointment" asp-action="Delete" asp-route-id=@appointment.Id>
                                <i class="bi bi-trash-fill"></i>

                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
@*         @foreach (AppointmentViewModel appointment in Model)
        {
            <div class="row mt-2 g-1">
                <div class="col-md-3">
                    <div class="card p-2">
                        @switch (appointment.status)
                        {
                            case Status.PendingConsultation:
                                <span class="badge bg-danger bsb-w-85">Pendiente</span>
                                break;
                            case Status.PendingResults:
                                <span class="badge bg-warning bsb-w-85">Pendiente de resultados</span>
                                break;
                            case Status.Completed:
                                <span class="badge bg-success bsb-w-85">Completado</span>
                                break;
                            default:
                                break;
                        }
                        <div class="text-center mt-2 p-3">
                            <h5 class="mb-0">@appointment.PatientName</h5>
                            <p class="mb-0 text-muted">Paciente</p>
                            <hr>
                            <div class="d-flex flex-row justify-content-between justify-content-center">
                                <span class="fw-strong">Día</span>
                                <small class="ml-1">@appointment.Day.ToShortDateString()</small>
                            </div>
                            <div class="d-flex flex-row justify-content-between justify-content-center">
                                <span class="fw-strong">Hora</span>
                                <small class="ml-1">@appointment.Time</small>
                            </div>
                            <hr>
                            <div class="d-flex flex-row justify-content-between justify-content-center">
                                <span class="fw-strong">Causa</span>
                                <small class="ml-1">@appointment.Reason</small>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <a class="btn btn-outline-danger btn-sm" asp-controller="Appointment" asp-action="Delete" asp-route-id=@appointment.Id>
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                                @if (appointment.status == Status.PendingConsultation)
                                {
                                    <a class="btn btn-secondary btn-sm me-2" asp-controller="Appointment" asp-action="Consult" asp-route-appointmentId=@appointment.Id>
                                        <i class="bi bi-person-lines-fill"></i>
                                        Consultar
                                    </a>
                                }
                                else if (appointment.status == Status.PendingResults)
                                {
                                    <a class="btn btn-secondary btn-sm me-2" asp-controller="Appointment" asp-action="CheckResults" asp-route-appointmentId=@appointment.Id>
                                        <i class="bi bi-clipboard2-pulse-fill"></i>
                                        Consultar resultados
                                    </a>
                                }
                                else if (appointment.status == Status.Completed)
                                {
                                    <a class="btn btn-secondary btn-sm me-2" asp-controller="Appointment" asp-action="Edit" asp-route-AppointmentId=@appointment.Id>
                                        <i class="bi bi-file-earmark-medical-fill"></i>
                                        Ver Resultados
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
 *@
    </div>
</div>